<title>ARC Template Generator</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style type="text/css">
@font-face{
    font-family: 'Saitamaar';
    src: url('fonts/Saitamaar.eot') format('eot'),
    url('fonts/Saitamaar.woff2') format('woff'),
    url('fonts/Saitamaar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.aa {
    font-family: 'Saitamaar', 'ＭＳ Ｐゴシック', 'MS PGothic', 'IPAMonaPGothic' !important;
    line-height:18px;
    font-size:16px;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}
body {
  padding-top: 70px;
}
.template_textarea_div {
  width: 100%;
  height: 50%;
  padding: 10px;
}
.template_textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.template_inputarea {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 45%;
  margin-top: 20px;
}
.output_textarea_div {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.output_textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
}
</style>

<!-- ナビバー -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ARC Template Generator</a>
    </div>
  </div>
</nav>
<!-- メインコンテンツ -->
<div id="editor">
  <div class="row">
    <!-- 左ナビゲーションリスト -->
    <div class="col-md-2">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Collapsible Group Item #1
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- テンプレート入力エリア -->
    <div class="col-md-5">
      <div class="template_textarea_div">
        <textarea class="template_textarea aa" v-model="input" debounce="300"></textarea>
        <span id="helpBlock2" class="help-block">{{ help_message }}</span>
      </div>
      <div class="template_inputarea">
        <form class="form-horizontal">
          <template v-for="item in items">
            <div class="form-group">
              <label for="inputPassword" class="col-sm-2 control-label">{{ item }}</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" v-bind:placeholder="item" v-model="item_datas[item]" v-on:keyup="updateOutput" debounce="300">
              </div>
            </div>
          </template>
        </form>
      </div>
    </div>
    <!-- 出力AA表示エリア -->
    <div class="col-md-5">
      <div class="output_textarea_div">
        <textarea class="output_textarea aa" v-model="output" debounce="300"></textarea>
      </div>
    </div>
  </div>
</div>

<script>
(function() {
  var template_files = {
    card_description: {
      filepath: "template/card_description_template.txt",
      template_items_default_data: {
         "カード名": "無名英雄",
         "メイン属性": "勇気",
         "サブ属性": "ヒーロー",
         "レアリティ": "E",
         "汎用スキル１": "【エゴ】",
         "汎用スキル２": "【残響】",
         "カードスキル": "残響：デッキからヒーローカードをランダムに一枚手札に加える",
         "武装化": "-",
         "AP": "02",
         "RP": "04",
         "CP": "03",
         "フレーバー": "俺は脇役だ。だけど英雄になれない理由はない。――無名英雄"
      }
    }
  }

  function readTextFile(file) {
      var allText = "";
      var rawFile = new XMLHttpRequest();
      rawFile.open("GET", file, false);
      rawFile.onreadystatechange = function () {
          if(rawFile.readyState === 4) {
              if(rawFile.status === 200 || rawFile.status == 0) {
                  allText = rawFile.responseText;
              }
          }
      }
      rawFile.send(null);
      return allText;
  }

  var vue = new Vue({
      el: '#editor',
      data: {
          input: readTextFile(template_files.card_description.filepath),
          output: "",
          items: [],
          item_datas: template_files.card_description.template_items_default_data,
          help_message: "{{ keyword }} でテンプレート入力できます"
      },
      watch: {
        input: function(val, oldVal) {
          if (!val) return '';
          this.items = this.searchTemplateItems(val);
          this.output = this.updateTemplate(val, this.item_datas);
        },
        item_datas: function(val, oldVal) {
          if (!val) return '';
          this.output = this.updateTemplate(this.input, val);
        }
      },
      methods: {
        searchTemplateItems: function(string) {
          var items = [];
          string.replace(/\{\{(.*?)\}\}/g, function(all, key) {
            items.push(key.trim());
          });
          return items;
        },
        updateTemplate: function (string, values){
          return string.replace(/\{\{(.*?)\}\}/g, function(all, key) {
            key = key.trim();
            return Object.prototype.hasOwnProperty.call(values, key) ? values[key] : "";
          });
        },
        updateOutput() {
          this.output = this.updateTemplate(this.input, this.item_datas);
        }
      },
      created() {
        this.items = this.searchTemplateItems(this.input);
        this.updateOutput();
      }
  });

}).call(this);
</script>
