<title>ARC Template Generator</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<style type="text/css">
@font-face{
    font-family: 'Saitamaar';
    src: url('fonts/Saitamaar.eot') format('eot'),
    url('fonts/Saitamaar.woff2') format('woff'),
    url('fonts/Saitamaar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.aa {
    font-family: 'Saitamaar', 'ＭＳ Ｐゴシック', 'MS PGothic', 'IPAMonaPGothic' !important;
    line-height:18px;
    font-size:16px;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}
body {
  padding-top: 70px;
}
.left_navigation_list {
  height: 100%;
  overflow: scroll;
}
.template_textarea_div {
  width: 100%;
  height: 50%;
  padding: 10px;
}
.template_textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.template_inputarea {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 45%;
  margin-top: 20px;
}
.output_textarea_div {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.output_textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
}
</style>

<!-- ナビバー -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ARC Template Generator</a>
    </div>
  </div>
</nav>
<!-- メインコンテンツ -->
<div id="editor">
  <div class="row">
    <!-- 左ナビゲーションリスト -->
    <div class="col-md-2 left_navigation_list">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- A_勇気 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading_A">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion"
               href="#collapse_A" aria-expanded="true" aria-controls="collapse_A">
                A_勇気
              </a>
            </h4>
          </div>
          <div id="collapse_A" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_A">
            <div class="panel-body" id="view_div_a"></div>
          </div>
        </div>
        <!-- B_恐怖 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading_B">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion"
               href="#collapse_B" aria-expanded="false" aria-controls="collapse_B">
                B_恐怖
              </a>
            </h4>
          </div>
          <div id="collapse_B" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_B">
            <div class="panel-body" id="view_div_b"></div>
          </div>
        </div>
        <!-- C_理性 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading_C">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion"
               href="#collapse_C" aria-expanded="false" aria-controls="collapse_C">
                C_理性
              </a>
            </h4>
          </div>
          <div id="collapse_C" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_C">
            <div class="panel-body" id="view_div_c"></div>
          </div>
        </div>
        <!-- D_悦楽 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading_D">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion"
               href="#collapse_D" aria-expanded="false" aria-controls="collapse_D">
                D_悦楽
              </a>
            </h4>
          </div>
          <div id="collapse_D" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_D">
            <div class="panel-body" id="view_div_d"></div>
          </div>
        </div>
        <!-- E_無 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading_E">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion"
               href="#collapse_E" aria-expanded="false" aria-controls="collapse_E">
                E_無
              </a>
            </h4>
          </div>
          <div id="collapse_E" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="heading_E">
            <div class="panel-body" id="view_div_e"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- テンプレート入力エリア -->
    <div class="col-md-5">
      <div class="template_textarea_div">
        <textarea class="template_textarea aa" v-model="input" debounce="300"></textarea>
        <span id="helpBlock2" class="help-block">{{ help_message }}</span>
      </div>
      <div class="template_inputarea">
        <form class="form-horizontal">
          <template v-for="item in items">
            <div class="form-group">
              <label for="inputPassword" class="col-sm-2 control-label">{{ item }}</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" v-bind:placeholder="item" v-model="item_datas[item]" v-on:keyup="updateOutput" debounce="300">
              </div>
            </div>
          </template>
        </form>
      </div>
    </div>
    <!-- 出力AA表示エリア -->
    <div class="col-md-5">
      <div class="output_textarea_div">
        <textarea class="output_textarea aa" v-model="output" debounce="300"></textarea>
      </div>
    </div>
  </div>
</div>

<script>
(function() {
  // Google Visualization APIの読み込み
  google.load("visualization", "1", {packages:['table']});

  // データソース URL
  var DATASOURCE_KEY = '1N7TNyO-j2xJMPP3niroZvdbha7gja0HmfAg6n2wKXUE';
  var DATASOURCE_GIDS = {
    "全カード一覧": '1817486152',
    "A_勇気": '81694205',
    "B_恐怖": '174328829',
    "C_理性": '1496957367',
    "D_悦楽": '1079225792',
    "E_無": '148785403',
    "エゴ": '545979998',
    "アルマ": '0',
    "リフレ": '2136352117',
    "コグニ": '977049733',
    "Ex": '383039139'
  }

  function getDataSources(key, gids) {
    var items = {};
    for (var gid in gids) {
      items[gid] = `http://spreadsheets.google.com/tq?key=${key}&gid=${gids[gid]}&pub=1`;
    }
    return items;
  }

  var DATASOURCES = getDataSources(DATASOURCE_KEY, DATASOURCE_GIDS);

  // ページ読み込みの完了後にデータをリクエスト
  google.setOnLoadCallback(function() {
    var subQuery = function(dataSource, queryLanguage, callback) {
      var query = new google.visualization.Query(dataSource);
      query.setQuery(queryLanguage);
      query.send(function (response) {
        var data = response.getDataTable();
        callback(data);
      });
    }
    var getAndUpdateData = function(dataSource, tableId, tableDivName) {
      var query = new google.visualization.Query(dataSource);
      var queryLanguage = "select * ORDER BY A LABEL A 'ID'";
      query.setQuery(queryLanguage);
      query.send(function (response) {
        var data = response.getDataTable();
        var view = new google.visualization.DataView(data);
        var container = document.getElementById(tableDivName);
        var table = new google.visualization.Table(container);
        // select event handler
        google.visualization.events.addListener(table, 'select', function(e) {
          var selectedItem = table.getSelection()[0];
          if (selectedItem) {
            // 各属性テーブルの入力値の取得
            var items = {}
            for (var col = 0; col < data.getNumberOfColumns(); col++) {
              items[data.getColumnLabel(col)] = (data.getValue(selectedItem.row, col));
            }
            // idと属性を取得
            var id = items["ID"];
            var kind = items["カード種別"];
            // キーから属性ごとの値を問い合わせ
            if (kind == "エゴ") {
              var queryLanguage = `select * WHERE A = '${tableId}' AND B = ${id}`;
              subQuery(DATASOURCES[kind], queryLanguage, function(data) {
                var template_data = $.extend(true, {}, items);
                for (var col = 0; col < data.getNumberOfColumns(); col++) {
                  template_data[data.getColumnLabel(col)] = (data.getValue(0, col));
                }
                // Viewのデータのupdate
                vue.item_datas = template_data;
              });
            } else if (kind == "アルマ") {
              var queryLanguage = `select * WHERE A = '${tableId}' AND B = ${id}`;
              subQuery(DATASOURCES[kind], queryLanguage, function(data) {
                var template_data = $.extend(true, {}, items);
                for (var col = 0; col < data.getNumberOfColumns(); col++) {
                  template_data[data.getColumnLabel(col)] = (data.getValue(0, col));
                }
                // Viewのデータのupdate
                vue.item_datas = template_data;
              });
            } else if (kind == "リフレ") {
              var queryLanguage = `select * WHERE A = '${tableId}' AND B = ${id}`;
              subQuery(DATASOURCES[kind], queryLanguage, function(data) {
                var template_data = $.extend(true, {}, items);
                for (var col = 0; col < data.getNumberOfColumns(); col++) {
                  template_data[data.getColumnLabel(col)] = (data.getValue(0, col));
                }
                // Viewのデータのupdate
                vue.item_datas = template_data;
              });
            } else if (kind == "コグニ") {
              var queryLanguage = `select * WHERE A = '${tableId}' AND B = ${id}`;
              subQuery(DATASOURCES[kind], queryLanguage, function(data) {
                var template_data = $.extend(true, {}, items);
                for (var col = 0; col < data.getNumberOfColumns(); col++) {
                  template_data[data.getColumnLabel(col)] = (data.getValue(0, col));
                }
                // Viewのデータのupdate
                vue.item_datas = template_data;
              });
            } else if (kind == "Ex") {
              var queryLanguage = `select * WHERE A = '${tableId}' AND B = ${id}`;
              subQuery(DATASOURCES[kind], queryLanguage, function(data) {
                var template_data = $.extend(true, {}, items);
                for (var col = 0; col < data.getNumberOfColumns(); col++) {
                  template_data[data.getColumnLabel(col)] = (data.getValue(0, col));
                }
                // Viewのデータのupdate
                vue.item_datas = template_data;
              });
            }
          }
        });
        table.draw(view);
      });
    }
    getAndUpdateData(DATASOURCES["A_勇気"], 'A', 'view_div_a');
    getAndUpdateData(DATASOURCES["B_恐怖"], 'B', 'view_div_b');
    getAndUpdateData(DATASOURCES["C_理性"], 'C', 'view_div_c');
    getAndUpdateData(DATASOURCES["D_悦楽"], 'D', 'view_div_d');
    getAndUpdateData(DATASOURCES["E_無"], 'E', 'view_div_e');
  });

  var template_files = {
    "カード説明欄_テンプレートサンプル": {
      filepath: "template/card_description_template_sample.txt",
      template_items_default_data: {
         "カード名": "無名英雄",
         "メイン属性": "勇気",
         "サブ属性": "ヒーロー",
         "レアリティ": "E",
         "汎用スキル１": "【エゴ】",
         "汎用スキル２": "【残響】",
         "カードスキル": "残響：デッキからヒーローカードをランダムに一枚手札に加える",
         "武装化": "-",
         "AP": "02",
         "RP": "04",
         "CP": "03",
         "フレーバー": "俺は脇役だ。だけど英雄になれない理由はない。――無名英雄"
      }
    },
    "カード説明欄_エゴ": {
      filepath: "template/card_description_template.txt",
    },
    "カード説明欄_アルマ": {
      filepath: "template/card_description_template.txt",
    },
    "カード説明欄_リフレ": {
      filepath: "template/card_description_template.txt",
    },
    "カード説明欄_コグニ": {
      filepath: "template/card_description_template.txt",
    },
    "カード説明欄_Ex": {
      filepath: "template/card_description_template.txt",
    },
  }

  var init_template = template_files["カード説明欄_テンプレートサンプル"];

  function readTextFile(file, callback) {
    var req = new XMLHttpRequest();
    req.open("GET", file, true);
    req.send(null);
    req.onload = function(){
      callback(req.responseText);
    }
  }

  var vue = new Vue({
      el: '#editor',
      data: {
          input_template: null,
          input: "",
          output: "",
          items: [],
          item_datas: {},
          help_message: "{{ keyword }} でテンプレート入力できます。テンプレートを追加/削除すると入力欄が自動で更新されます。"
      },
      watch: {
        input_template: function(val, oldVal) {
          if (!val) return;
          if (val.template_items_default_data) {
            this.item_datas = val.template_items_default_data;
          }
          readTextFile(val.filepath, function(val) {
            this.input = val;
          }.bind(this));
        },
        input: function(val, oldVal) {
          if (!val) return;
          this.items = this.searchTemplateItems(val);
          this.output = this.updateTemplate(val, this.item_datas);
        },
        item_datas: function(val, oldVal) {
          if (!val) return;
          this.output = this.updateTemplate(this.input, val);
        }
      },
      methods: {
        searchTemplateItems: function(string) {
          if (!string) return {};
          var items = [];
          string.replace(/\{\{(.*?)\}\}/g, function(all, key) {
            items.push(key.trim());
          });
          return items;
        },
        updateTemplate: function (string, values){
          if (!string || !values) return '';
          return string.replace(/\{\{(.*?)\}\}/g, function(all, key) {
            key = key.trim();
            return Object.prototype.hasOwnProperty.call(values, key) ? values[key] : "";
          });
        },
        updateOutput() {
          this.output = this.updateTemplate(this.input, this.item_datas);
        }
      },
      created() {
        this.input_template = init_template;
      }
  });

}).call(this);
</script>
